BizTalk FastTrack/Test Framework/BizUnit4.1_Src/Src/BizUnit.TestSteps.BizTalk.Remote/Service References/BizUnitServiceReference/BizUnitService64.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://bizunit.servicecontracts/2011/09/" elementFormDefault="qualified" targetNamespace="http://bizunit.servicecontracts/2011/09/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/BizUnitWcfService/BizUnitService.svc?xsd=xsd2" namespace="http://bizunit.datacontracts/2011/09/" />
  <xs:import schemaLocation="http://localhost/BizUnitWcfService/BizUnitService.svc?xsd=xsd4" namespace="http://bizunit.datacontracts/2011/10/" />
  <xs:element name="HostConductorStep">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://bizunit.datacontracts/2011/09/" minOccurs="0" name="step" nillable="true" type="q1:HostConductorStep" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HostConductorStepResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OrchestrationConductorStep">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://bizunit.datacontracts/2011/09/" minOccurs="0" name="step" nillable="true" type="q2:OrchestrationConductorStep" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrchestrationConductorStepResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveLocationEnabledStep">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://bizunit.datacontracts/2011/09/" minOccurs="0" name="step" nillable="true" type="q3:ReceiveLocationEnabledStep" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveLocationEnabledStepResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceivePortConductorStep">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://bizunit.datacontracts/2011/09/" minOccurs="0" name="step" nillable="true" type="q4:ReceivePortConductorStep" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceivePortConductorStepResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendPortConductorStep">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://bizunit.datacontracts/2011/10/" minOccurs="0" name="step" nillable="true" type="q5:SendPortConductorStep" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendPortConductorStepResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendPortGroupConductorStep">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://bizunit.datacontracts/2011/10/" minOccurs="0" name="step" nillable="true" type="q6:SendPortGroupConductorStep" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendPortGroupConductorStepResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>