BizTalk FastTrack/Test Framework/BizUnit4.1_Src/Test/BizUnit.TestSteps.i8c.Tests/Service References/ExampleServiceReference/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ExampleWCFServiceApplication" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ExampleWCFServiceApplication" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstValue" type="xs:int" />
      <xs:element minOccurs="0" name="Result" type="xs:int" />
      <xs:element minOccurs="0" name="SecondValue" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>