BizTalk FastTrack/Test Framework/BizUnit4.1_Src/Test/BizUnit.BizTalkServices.Tests/Service References/BizUnitServiceReference/BizUnitService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://bizunit.servicecontracts/2011/09/" elementFormDefault="qualified" targetNamespace="http://bizunit.servicecontracts/2011/09/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1234/BizUnitServices/BizUnitService.svc?xsd=xsd2" namespace="http://bizunit.datacontracts/2011/09/" />
  <xs:element name="ReceivePortConductorStep">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://bizunit.datacontracts/2011/09/" minOccurs="0" name="step" nillable="true" type="q1:ReceivePortConductorStep" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceivePortConductorStepResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>