BizTalk FastTrack/Test Framework/BizUnit4.1_Src/Test/BizUnit.BizTalkServices.Tests/Service References/BizUnitServiceReference/BizUnitService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://bizunit.servicecontracts/2011/09/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://bizunit.servicecontracts/2011/09/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://bizunit.servicecontracts/2011/09/Imports">
      <xsd:import schemaLocation="http://localhost:1234/BizUnitServices/BizUnitService.svc?xsd=xsd0" namespace="http://bizunit.servicecontracts/2011/09/" />
      <xsd:import schemaLocation="http://localhost:1234/BizUnitServices/BizUnitService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1234/BizUnitServices/BizUnitService.svc?xsd=xsd2" namespace="http://bizunit.datacontracts/2011/09/" />
      <xsd:import schemaLocation="http://localhost:1234/BizUnitServices/BizUnitService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BizUnit.TestSteps.BizTalk.Port" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBizUnitService_ReceivePortConductorStep_InputMessage">
    <wsdl:part name="parameters" element="tns:ReceivePortConductorStep" />
  </wsdl:message>
  <wsdl:message name="IBizUnitService_ReceivePortConductorStep_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReceivePortConductorStepResponse" />
  </wsdl:message>
  <wsdl:message name="IBizUnitService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IBizUnitService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IBizUnitService">
    <wsdl:operation name="ReceivePortConductorStep">
      <wsdl:input wsaw:Action="http://bizunit.servicecontracts/2011/09/IBizUnitService/ReceivePortConductorStep" message="tns:IBizUnitService_ReceivePortConductorStep_InputMessage" />
      <wsdl:output wsaw:Action="http://bizunit.servicecontracts/2011/09/IBizUnitService/ReceivePortConductorStepResponse" message="tns:IBizUnitService_ReceivePortConductorStep_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://bizunit.servicecontracts/2011/09/IBizUnitService/GetData" message="tns:IBizUnitService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://bizunit.servicecontracts/2011/09/IBizUnitService/GetDataResponse" message="tns:IBizUnitService_GetData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>