BizTalk FastTrack/Test Framework/BizUnit4.1_Src/Test/BizUnit.BizTalkServices.Tests/Service References/BizUnitServiceReference/BizUnitService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://bizunit.datacontracts/2011/09/" elementFormDefault="qualified" targetNamespace="http://bizunit.datacontracts/2011/09/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1234/BizUnitServices/BizUnitService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BizUnit.TestSteps.BizTalk.Port" />
  <xs:complexType name="ReceivePortConductorStep">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BizUnit.TestSteps.BizTalk.Port" minOccurs="0" name="Action" type="q1:ReceivePortConductorStep.ReceivePortAction" />
      <xs:element minOccurs="0" name="DelayForCompletion" type="xs:int" />
      <xs:element minOccurs="0" name="ReceiveLocationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceivePortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Server" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReceivePortConductorStep" nillable="true" type="tns:ReceivePortConductorStep" />
</xs:schema>